{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "requirePragma": true,
  "proseWrap": "always",
  "jsxBracketSameLine": false,
  "semi": true,
  "endOfLine": "crlf"
}
